.introText {
  font-size: 1.3rem;
  color: azure;
  margin-top: 9vh;
}

.personel {
  color: azure;
  justify-content: space-between;
  display: flex;
}

.personelItem {
  padding: 1rem;
  text-align: left;

  width: 100%;
}

.infoColumn {
  color: aliceblue;
  box-shadow: 0 4px 8px 0 rgba(199, 61, 61, 0.2);
  transition: 0.3s;
  padding: 10px;
}

.title {
  color: white;
  font-weight: bold;
}
.loader {
  width: 100%;
  height: 60vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
